.balls {
    display: flex;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: #fff #000;
  }
  
  .balls::-webkit-scrollbar {
    height: 1rem;
  }
  
  .balls::-webkit-scrollbar-track {
    background-color: #000;
  }
  
  .balls::-webkit-scrollbar-thumb {
    background-color: #000;
    background-image: linear-gradient(#000 0, #000 0.25rem, #fff 0.25rem, #fff 0.75rem, #000 0.75rem);
  }
  
  .balls > * {
    flex: 0 0 auto;
  }
  
  
  .balls > img {
    height: 100%;
    flex-basis: auto;
    width: auto;
  }
  
  .balls > * + * {
    margin-left: 1rem;
  }
  
  .balls.overflowing {
    padding-bottom: 1rem;
  }